body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020617;
  color: white;
}

.app-container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.clock {
  background: #1e293b;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
}

.refresh-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  cursor: pointer;
}

/* SEARCH */
.search-box {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
}

.search-box button {
  padding: 12px 20px;
  border-radius: 10px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

/* SUGGESTIONS */
.suggestions {
  position: absolute;
  top: 45px;
  width: 100%;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
}

.suggestions div:hover {
  background: #334155;
}

/* CONTENT */
.content {
  display: flex;
  gap: 20px;
}

/* CARD */
.card {
  flex: 1;
  padding: 20px;
  border-radius: 16px;
  background: #1e293b;
  text-align: center;
}

/* WEATHER BACKGROUNDS */
.sunny {
  background: linear-gradient(135deg, #facc15, #f97316);
}

.rainy {
  background: linear-gradient(135deg, #0ea5e9, #1e3a8a);
}

.cloudy {
  background: linear-gradient(135deg, #94a3b8, #475569);
}

.icon {
  font-size: 40px;
}

/* GRAPH */
.graph {
  flex: 2;
}

/* RECENT */
.recent {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.recent span {
  background: #1e293b;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

/* LOADER */
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #1e293b;
  border-top: 4px solid #22c55e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}
.extra {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.message {
  margin-top: 10px;
  font-weight: bold;
  color: #38bdf8;
}

/* RECENT IMPROVED */
.recent-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1e293b;
  padding: 6px 10px;
  border-radius: 8px;
}

.recent-item button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}